@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    scroll-padding-top: 80px;
}

:root {
    --main-color-1: #034E3F;
    --main-color-2: #01A88F;
    --extra-color-1: #D1338A;
    --extra-color-2: #F0F0E8;
    --text-color-1: #393939;
    --text-color-2: #606060;
}

body {
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 14px;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none !important;
    color: var(--main-color-1);
    -moz-text-decoration-style: none;
    text-decoration-style: none;
}

.btn {
    color: #ffff;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--main-color-2);
}

.no-padding-left {
    padding-left: 0px
}

.no-padding-right {
    padding-right: 0px
}

.radius-10 {
    border-radius: 10px;
}

/* Nav */

.nav-item a {
    color: var(--text-color-1);
}

.nav-link,
.nav-link:hover {
    color: var(--text-color-1);
    font-weight: 700;
    font-size: 18px;
}

.hover-underline {
    display: inline-block;
    position: relative;
    color: var(--main-color-2);
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 6px;
    left: 0;
    background-color: var(--main-color-2);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-contact {
    padding: 18px 48px 18px 48px;
    border-radius: 47px;
    color: #ffffff !important;
}

.btn-contact:hover {
    background-color: var(--main-color-1);
    color: #ffffff;
}

.offcanvas-header .btn-close {
    color: var(--main-color-1);
}

.offcanvas-header .btn-close:focus {
    box-shadow: none;
}

.modal-header .btn-close:focus {
    box-shadow: none;
}

.offcanvas-body .nav-link {
    font-size: 26px;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler-icon {
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%2803, 78, 63, 0.99%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bg-body-tertiary {
    background-color: #ffffff !important;
}

/* Form and bg photo */

.form-bg-img {
    border-radius: 10px;
}

.form-background {
    position: relative;
    top: 0;
    left: 0;
}

.form-background-bg {
    position: relative;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.form-background-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    max-width: 493px;
}

.mobile-form-background-text,
.mobile-form-background-text-medium {
    border-radius: 10px;
}

.forms {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #E6E6E6;
    border-radius: 10px;
    border: 2px solid #034E3F33;
    box-shadow: 0px 4px 31px 0px #00000033;
    padding: 1rem 1rem 1rem 1rem;
}

.forms:hover {
    border: 2px solid var(--main-color-2);
}

.forms-title {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color-1);
}

.forms-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color-1);
}

.form-label {
    font-size: 16px;
    color: var(--text-color-1);
    font-weight: 400;
}

.btn-form-check,
.btn-form-check:focus {
    font-size: 14px;
    font-weight: 400;
    color: #797979;
    background-color: #ffffff;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #ffffff;
    background-color: var(--main-color-2);
    border-color: var(--main-color-2);
}

.btn-check:hover+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #ffffff;
    background-color: #8cd8cc;
    border-color: #8cd8cc;
}

.range-cust::-webkit-slider-thumb {
    background: var(--main-color-1);
}

.range-cust::-moz-range-thumb {
    background: var(--main-color-1);
}

.range-cust::-ms-thumb {
    background: var(--main-color-1);
}

.form-control::-webkit-input-placeholder {
    color: #797979;
}

.form-control::placeholder {
    color: #797979;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #797979;
}

.form-control:hover {
    border: 1px solid #a0a0a0;
}

.form-text {
    color: var(--text-color-1);
    font-weight: 400;
    font-size: 14px;
}

.btn-primary {
    background-color: var(--main-color-2);
    border-color: var(--main-color-2);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 0.75rem 5rem;
    border-radius: 47px;
}

.btn-primary:hover {
    background-color: var(--main-color-1);
    border-color: var(--main-color-1);
}

/** Buttom Aplikuj */

.btn-aplikuj {
    padding: 18px 48px 18px 48px;
}

/* Who section */
.who-title,
.who-description,
.who-name,
.who-position {
    text-align: center;
}

.who-team img {
    border-radius: 196px;
    border: 2px solid #0000001A;
}

.who-title {
    color: var(--main-color-1);
    font-size: 40px;
    font-weight: 700;
}

.who-description {
    color: var(--text-color-2);
    font-size: 22px;
    line-height: 1.1;
}

.who-name {
    color: var(--main-color-1);
    font-weight: 700;
    font-size: 18px;
}

.who-position {
    color: var(--text-color-2);
    font-size: 18px;
}

.who-box-text {
    position: absolute;
    bottom: 0;
    opacity: 0.01;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    background: linear-gradient(0deg, #034E3F, #034E3F), linear-gradient(0deg, #01A88F, #01A88F);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 196px;
    border: 3px solid var(--main-color-2);
    padding: 20px 20px;
}

.who-box-text:hover,
.who-box-text:focus {
    opacity: 1;
}

.btn-who-1 {
    padding: 0;
    position: relative;
    background: none;
    border-radius: 196px;
    border: none;
}

.img-who {
    max-height: 354px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: var(--main-color-2);
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -50px;
    margin-top: 2rem !important;
}

.carousel-inner .img-who {
    border-radius: 196px;
    border: 2px solid #0000001A;
}

#carouselTeam {
    margin-bottom: 5rem;
}

.klik-icon {
    position: absolute;
    bottom: -20px;
    right: -33px;
    z-index: 100;
}

/* Owl Carousel */

.gradient {
    background: rgb(240, 240, 232);
    background: linear-gradient(90deg, rgba(240, 240, 232, 0) 0%, rgba(240, 240, 232, 1) 50%);
    z-index: 10 !important;
    position: absolute;
    height: 100%;
    width: 23%;
    max-height: 680px;
    right: 110px;
    display: none;
}

.owl-carousel {
    z-index: 5 !important;
}

.owl-nav {
    height: 0px;
    z-index: 15 !important;
    /* display: none; */
}

.owl-prev,
.owl-next {
    height: 74px;
    width: 74px;
    border-radius: 100% !important;
    background-color: #c2d0c7 !important;
    opacity: 1;
}

.owl-next span,
.owl-prev span {
    font-size: 50px !important;
    line-height: 28px !important;
    color: var(--main-color-1);
}

.owl-next {
    position: relative;
    right: -544px;
    top: -380px;
}

.owl-prev {
    position: relative;
    left: -544px;
    top: -380px;
}

#gwarantujemy {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
}

.owl-dots {
    margin-top: 20px;
}

/* What we offer? */
.our-offer-box {
    background-color: #F0F0E8;
    border-radius: 10px;
}

.our-offer-text-box {
    background-color: var(--extra-color-1);
    border-radius: 10px;
    padding: 0;
    min-height: 367px;
}

.green-version-box {
    background-color: var(--main-color-1);
}

.our-offer-img {
    padding: 0;
    border-radius: 10px;
}

.our-offer-main-text {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
}

.our-offer-sub-text {
    color: #ffffff;
    font-size: 16px;
}

.btn-we-offer-1 {
    border: 2px solid #ffffff;
    border-radius: 47px;
    color: var(--extra-color-1);
    background-color: #FFFFFF;
    padding: 17px 48px 17px 48px;
}

.btn-we-offer-1:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}

.btn-we-offer-2 {
    border: 2px solid var(--main-color-2);
    border-radius: 47px;
    color: #ffffff;
    background-color: var(--main-color-2);
    padding: 17px 48px 17px 48px;
}

.btn-we-offer-2:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}


/* Work offers */
.offers-main-text {
    font-weight: 700;
    font-size: 40px;
    color: var(--main-color-1);
}

.offers-sub-text {
    font-size: 22px;
    color: var(--text-color-2);
}


/* No offer */
.no-offer-text {
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}

.no-offer-subtext {
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.btn-no-offer {
    background-color: var(--extra-color-1);
    padding: 18px 48px 18px 48px;
    border-radius: 47px;
    max-width: fit-content;
}

.btn-no-offer:hover {
    background-color: #ffffff;
    color: var(--extra-color-1);
}

.green-bg {
    background-color: var(--main-color-2);
    border-radius: 10px;
}

.recruitment-box {
    background-color: #F0F0E8;
    border-radius: 10px;
}

.recruitment-box .row {
    display: flex;
    flex-wrap: nowrap;
}

.col-92px {
    width: 92px;
}

.recruitment-text-title {
    font-size: 50px;
    color: var(--main-color-1);
    font-weight: 700;
    text-align: center;
    z-index: 15 !important;
}

.green-circle {
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
    background-color: var(--main-color-2);
    text-align: center;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
}

.recruitment-process-title {
    color: var(--text-color-1);
    font-weight: 700;
    font-size: 26px;
}

.recruitment-process-text {
    font-size: 18px;
    color: #383838;
}

.recruitment-process-text a {
    color: var(--extra-color-1);
    font-weight: 700;
    text-decoration: underline !important;
}

hr {
    color: #B9D1CE;
    border-top: 2px solid;
    opacity: 1;
    margin: 2rem 0;
}

.horizontal-line {
    position: relative;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 55%;
    border-left: 2px dashed var(--main-color-2);
}

.height-fix {
    max-height: 80px;
    display: flex;
    align-items: center;
}

/* Contact & Form */
.display-inherit {
    display: inherit;
}

.contact-detail-box {
    background-color: #D9E4E2;
    border-radius: 10px;
}

.contact-main-text {
    color: var(--main-color-1);
    font-size: 40px;
    font-weight: 700;
}

.contact-sub-text {
    color: var(--text-color-2);
    font-size: 22px;
    font-weight: 400;
}

.contact-info-title {
    color: var(--text-color-1);
    font-size: 18px;
    font-weight: 400;
}

.contact-info-details {
    color: var(--main-color-1);
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
}

.contact-form-box {
    background-color: var(--main-color-1);
    border-radius: 10px;
}

.contact-form-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
}

.icon {
    margin-right: 10px;
}

.forms2 .form-label {
    color: #ffffff;
}

.forms2 .form-text {
    color: #ffffff;
}

.forms2 .form-control {
    background-color: #387367;
    border-color: #387367;
    color: #ffffff;
}

.forms2 .form-control:hover {
    border: 1px solid #ffffff;
}

.forms2 .form-control::-webkit-input-placeholder {
    color: #8aada5;
}

.forms2 .form-control::placeholder {
    color: #8aada5;
    opacity: 1;
}

.forms2 .form-control::-ms-input-placeholder {
    color: #8aada5;
}

.btn-form {
    border: 2px var(--main-color-2) solid;
}

.btn-form:hover {
    border: 2px #ffffff solid;
}

/* Footer */

.footer-green-box {
    background-color: var(--main-color-1);
    color: #ffffff;
}

.footer-contact-text {
    font-weight: 700;
    font-size: 24px;
}

.footer-contact-subtext {
    font-size: 18px;
}

.footer-logo img {
    max-width: 370px;
}

.btn-footer-1,
.btn-footer-2 {
    border-radius: 47px;
    min-width: 226px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn-footer-1 {
    border: 2px solid var(--main-color-2);
}

.btn-footer-1:hover {
    border: 2px solid #ffffff;
    background-color: var(--main-color-1);
}

.btn-footer-2 {
    border: 2px solid var(--main-color-2);
    background-color: var(--main-color-1);
}

.btn-footer-2:hover {
    border: 2px solid var(--main-color-2);
    background-color: var(--main-color-2);
}

.btn-arrow-up {
    border-color: #ffffff;
    background-color: var(--main-color-1);
    line-height: 1.5;
}

.btn-arrow-up:hover {
    background-color: var(--main-color-2);
}

.footer-pink-box {
    background-color: var(--extra-color-1);
    color: #ffffff;
}

footer a,
footer a:link,
footer a:visited,
footer a:active,
.footer-pink-box a,
.footer-pink-box a:link,
.footer-pink-box a:visited,
.footer-pink-box a:active {
    color: #ffffff;
}


/** Modals **/
.modal-fullscreen {
    height: auto;
}

.modal-header {
    border-bottom: none;
    padding: 0.5rem !important;
}

.modal-content {
    background-color: #00000000;
    border: none;
}

.btn-close {
    opacity: 1;
}

.pink-modal {
    background-color: var(--extra-color-1);
    border-radius: 10px;
}

.green-modal {
    background-color: var(--main-color-1);
    border-radius: 10px;
}

.our-offer-modal-title {
    font-weight: 700;
    font-size: 26px;
    color: #ffffff;
}

.our-offer-text {
    font-size: 16px;
    color: #ffffff;
}

.our-offer-modal-subtitle {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}

.modal-1-icon {
    max-width: 56px;
    max-height: 56px;
    margin-right: 15px;
    margin-bottom: 1rem;
}

.modal-2-img-bg {
    background-color: #225f52;
    padding: 3rem 2rem;
    height: 482px;
    border-radius: 10px;
    margin: 0 20px;
}

.modal-4-icons img {
    max-height: 70px;
    max-width: 70px;
}

.modal-4-text {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 1rem;
}

.close-button-container {
    display: flex;
    top: 20px;
}

.top-fix {
    top: 20px;
}

.btn-close-mobile {
    position: relative;
    top: 28px;
    right: -20px;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 100%;
}

.btn-close-mobile:hover {
    opacity: 1;
}

@media only screen and (min-width: 1400px) {}


@media only screen and (max-width: 1399px) {
    .form-1 .mb-3 {
        margin-bottom: 0.2rem !important;
    }

    .form-background .col-4 {
        width: 45%;
    }

    .our-offer-text-box {
        min-height: 440px;
    }

    .modal-1-col-fix {
        width: 51.2%;
    }

    .modal-2-col-fix {
        width: 41.8%;
    }

    .modal-4-col-fix {
        width: 31%;
    }

    .owl-next {
        right: -460px;
    }

    .owl-prev {
        left: -460px;
    }
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
    .who-box-text {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .display-only-mobile-1 {
        display: none;
    }

    .modal-fullscreen-own {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 1199px) {
    body {
        margin-top: 80px;
    }

    .display-only-pc-1 {
        display: none !important;
    }

    .no-padding-right-mobile {
        padding-right: 0px
    }

    .margin-bottom-mobile {
        margin-bottom: 2rem !important;
    }

    .logo-main {
        max-width: 228px;
    }

    .name-surname-row {
        display: flex;
        gap: 20px;
    }

    .form-background .col-4 {
        width: 52%;
    }

    .w-50-mobile {
        width: 50%;
    }

    .forms {
        bottom: 16px;
        right: 16px;
    }

    .form-background-text {
        bottom: 16px;
        left: 16px;
        width: 400px;
    }

    .who-team {
        display: none;
    }

    .our-offer-text-box {
        min-height: 368px;
    }

    .full-width {
        width: 100%;
    }

    .modal-4-row .col-2 {
        width: 20%;
    }

    .pb-3rem {
        padding-bottom: 3rem !important;
    }

    .pt-3rem {
        padding-top: 3rem !important;
    }

    .owl-next {
        right: -375px;
    }

    .owl-prev {
        left: -375px;
    }
}

@media only screen and (max-width: 991px) {
    .forms {
        display: none;
    }

    .form-background-text {
        display: none;
    }

    .footer-logo {
        display: none !important;
    }

    .gap_1_5_rem_md {
        gap: 1.5rem;
    }

    .display-only-pc-2 {
        display: none;
    }

    .line {
        left: 40px;
    }

    .direction-row-mobile-991 {
        flex-direction: column;
        text-align: center;
    }

    .center-item-991 {
        align-items: center;
    }

    .full-width-991 {
        width: 100%;
    }

    .modal-2-img-bg {
        height: auto;
        margin-top: 2rem;
    }

    .owl-next {
        right: -255px;
    }

    .owl-prev {
        left: -255px;
    }

    .center-text-mobile {
        text-align: center;
        justify-content: center;
    }

}

@media only screen and (min-width: 992px) {
    .display-only-mobile-2 {
        display: none;
    }

    .mobile-form-background-text-medium {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-form-background-text {
        display: none;
    }
}

@media (max-width: 767px) {
    .mobile-form-background-text-medium {
        display: none;
    }

    .direction-row-mobile {
        flex-direction: column;
        text-align: center;
    }

    .gap_1_5_rem {
        gap: 1.5rem;
    }

    .green-circle {
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
    }

    .line {
        left: 27px;
    }

    .mb-5 {
        margin-bottom: 2rem !important;
    }

    #gwarantujemy {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    .owl-next,
    .owl-prev {
        background-color: var(--main-color-2) !important;
        border: 4px solid #ffffff !important;
    }

    .owl-next span,
    .owl-prev span {
        font-size: 50px !important;
        line-height: 28px !important;
        color: #ffffff;
    }

    .owl-next {
        right: -164px;
        top: -427px;
    }

    .owl-prev {
        left: -164px;
        top: -427px;
    }
}

@media (min-width: 576px) {
    .no-padding {
        padding: 0;
    }
}

@media (max-width: 577px) {

    .who-title,
    .recruitment-text-title,
    .no-offer-text,
    .contact-main-text,
    .offers-main-text {
        font-size: 26px;
    }

    .recruitment-process-title,
    .green-circle {
        font-size: 22px;
    }

    .contact-sub-text,
    .contact-info-details {
        font-size: 18px;
    }

    .who-description,
    .no-offer-subtext,
    .recruitment-process-text {
        font-size: 16px
    }

    .contact-info-title {
        font-size: 14px;
    }

    .p-5 {
        padding: 2rem !important;
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
    }

    #gwarantujemy {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .our-offer-text-box {
        min-height: 350px;
    }

    .owl-next,
    .owl-prev {
        height: 50px;
        width: 50px;
    }

    .owl-next {
        right: -37%;
        top: -447px;
    }

    .owl-prev {
        left: -37%;
        top: -447px;
    }

    .modal .px-5 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}