@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --main-color-1: #034E3F;
    --main-color-2: #01A88F;
    --extra-color-1: #D1338A;
    --extra-color-2: #F0F0E8;
    --text-color-1: #393939;
    --text-color-2: #606060;
  }

body {
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 14px;
}

.btn {
    color: #ffff;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--main-color-2);
}

/* Nav */

.nav-link, .nav-link:hover {
    color: var(--text-color-1);
    font-weight: 700;
    font-size: 18px;
}

.hover-underline {
    display: inline-block;
    position: relative;
    color: var(--text-color-1);
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 6px;
    left: 0;
    background-color: var(--text-color-1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
}

.btn-contact {
    padding: 18px 48px 18px 48px;
    border-radius: 47px;
}

.btn-contact:hover {
    background-color: var(--main-color-2);
    color: #ffffff;
}


/* Form and bg photo */

.form-bg-img {
    border-radius: 10px;
}

.form-background {
    position: relative;
    top: 0;
    left: 0;
}

.form-background-bg {
    position: relative;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.form-background-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.forms {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #D9E4E2;
    border-radius: 10px;
    border: 2px solid rgba(3, 78, 63, 0.2);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem 1rem 1rem;
}

.forms-title {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color-1);
}

.forms-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color-1);
}

.form-label {
    font-size: 16px;
    color: var(--text-color-1);
    font-weight: 400;
}

.btn-form-check, .btn-form-check:focus {
    font-size: 14px;
    font-weight: 400;
    color: #797979;
    background-color: #ffffff;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #ffffff;
    background-color: var(--main-color-2);
    border-color: var(--main-color-2);
}

.btn-check:hover+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #ffffff;
    background-color: var(--main-color-2);
    border-color: var(--main-color-2);
}

.range-cust::-webkit-slider-thumb {
    background: var(--main-color-1);
}

.range-cust::-moz-range-thumb {
    background: var(--main-color-1);
}

.range-cust::-ms-thumb {
    background: var(--main-color-1);
}

.form-control::-webkit-input-placeholder {
    color: #797979;
}

.form-control::placeholder {
    color: #797979;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #797979;
}

.form-text {
    color: var(--text-color-1);
    font-weight: 400;
    font-size: 14px;
}

.btn-primary {
    background-color: var(--main-color-2);
    border-color: var(--main-color-2);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 0.75rem 5rem;
    border-radius: 47px;
}

.btn-primary:hover {
    background-color: var(--main-color-2);
    border-color: var(--main-color-2);
}


/* Who section */
 .who-title,  .who-description, .who-name, .who-position {
    text-align: center;
 }

 .who-title {
    color: var(--main-color-1);
    font-size: 40px;
    font-weight: 700;
 }

 .who-description {
    color: var(--text-color-2);
    font-size: 22px;
    line-height: 1.0;
 }

 .who-name {
    color: var(--main-color-1);
    font-weight: 700;
    font-size: 18px;
 }

 .who-position {
    color: var(--text-color-2);
    font-size: 18px;
 }


 /* No offer */
 .no-offer-text {
    font-weight: 700;
    font-size: 32px;
 }
 
 .btn-no-offer {
    background-color: var(--extra-color-1);
    padding: 18px 48px 18px 48px;
    border-radius: 47px;
 }